.map-container {
    text-align: center;
}

.map-container h1,h2 {
    margin: 0;
    padding: 0;
}

.map-container > div {
    float: left;
    margin-right: 50px;
}

.map {
    width: 400px;
    height: 400px;
}